<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">Add Party</span>
          <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

      <form [formGroup]="addPartyForm">

          <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Title</mat-label>
                  <mat-icon matSuffix class="secondary-text">title</mat-icon>
                  <input name="title" formControlName="title" matInput required>
              </mat-form-field>
          </div>

          <div class="terms" fxLayout="row" fxLayoutAlign="center center">
            <label class="pr-20">Party logo</label>
            <input hidden type="file" name="address_proof" required="required" (change)="uploadPartyLogo($event)" #addressProof />
            <button type="button" mat-raised-button (click)="addressProof.click()" aria-label="Add file">
                Upload
            </button>
        </div>
      </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

      <button mat-button class="save-button"
      (click)="matDialogRef.close(['save',addPartyForm.value])"
              [disabled]="addPartyForm.invalid"
              aria-label="SAVE">
          SAVE
      </button>

  </div>
</div>
