<div id="candidate" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  candidate-list
              </mat-icon>
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                 Candidate List
              </span>
          </div>
          <!-- / APP TITLE -->
          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input #filter placeholder="Search for a candidate" (keyup)="applyFilterSent($event.target.value)">
              </div>
          </div>
          <!-- / SEARCH -->
         
      </div>
      <!-- / HEADER -->
      <!-- CONTENT CARD -->
      <div class="content-card">
          <mat-table #table [dataSource]="dataSource" matSort>
               <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let election"> {{election.title}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="logo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Party Logo </mat-header-cell>
                  <mat-cell *matCellDef="let election"> {{election.location}} </mat-cell>
              </ng-container>

               <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let election"> 

                      <mat-icon matTooltip="Info about the action" (click)="addparty(election)">add_circle</mat-icon>

                    
                  </mat-cell>


              </ng-container>
              
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>